
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.DS_Store

# Pycharm
.idea/
datacanvas/.idea/
datacanvas/.idea/*
datacanvas/.idea/workspace.xml

# Static directory for deployment
www/