container_commands:
	01_createsu:
		command: "source /opt/python/run/venv/bin/activate && python datacanvas/manage.py createsu"
		leader_only: true
	02_collectstatic:
  		command: "source /opt/python/run/venv/bin/activate && python datacanvas/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "datacanvas.settings"
    "PYTHONPATH": "/opt/python/current/app/datacanvas:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: datacanvas/datacanvas/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

