<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <title>SoundScore</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">

          <div class='row'>
            <div class='col-md-12'>
              <h1>D3 Sandbox</h1>
            </div>
          </div>

        <div class="row">
          <div class='col-md-4' id="chart-ring-month">
            <h6>Month Pie Chart
                <!-- todo reset links don't work.. removing "var" to set on global scope worked but the nashville example didn't do that... -->
             <a class="reset" href="javascript:monthRingChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
            </h6>
          </div>

          <div class='col-md-4' id="chart-ring-sensor">
            <h6>Sensor Pie Chart
             <a class="reset" href="javascript:sensorRingChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
            </h6>
          </div>

          <div class='col-md-4' id="dow-chart">
            <h6>DOW Bar Chart
             <a class="reset" href="javascript:dowChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
            </h6>
          </div>
        </div>

          <div class='row'>
            <div class='col-md-12' id="chart-line-soundperhour">
              <h6> Total Sound by Hour
                <a class="reset" href="javascript:hoursChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
              </h6>
            </div>
          </div>

          <div class='row'>
            <div class='col-md-12' style='clear:both;'>
                <table id="dc-data-table">
                    <thead>
                    <tr class="header">
                        <th>Hour</th>
                        <th>Avg</th>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                </table>
            </div>
          </div>
    <!-- container div -->
    </div>



    <script src="../static/js/crossfilter.v1.js"></script>
    <script src="../static/js/d3.v3.js"></script>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>#}
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/dc.js"></script>
    <link href="../static/css/dc.css" rel="stylesheet"/>

    <script>
//        d3.json("http://127.0.0.1:8000/api/measurements/?count=923", function(data){
          d3.json("../static/js/updatedhours.json", function(data){
            var api_data = data['results'];
//            console.log(api_data.length);
//            console.log(api_data);

//        sample data object from the api_data array
//       {
//            "id": 1,
//            "hour": "2015-01-14T00:23:50",
//            "sound_avg": 79.8006268656716,
//            "sound_min": 63.2144,
//            "sound_max": 96.1416,
//            "sound_std": 56.7724694981303,
//            "sound_var": 3693.79598253509,
//            "sound_count": 480,
//            "sensor": 1
//        },

            var cf = crossfilter(api_data);
//            console.log(cf);

//            totals
//            var soundTotal = cf.groupAll().reduceSum(function(d) {return d.sound_avg;}).value();
//            console.log("soundTotal: " + soundTotal);
//
//            var soundCount = cf.groupAll().reduceCount().value();
//            console.log("soundCount: " + soundCount);
//
//            var soundAvg = soundTotal / soundCount;
//            console.log("soundAvg: " + soundAvg);

//            var soundMax = cf.groupAll().reduce
            
            <!-- todo clean up dimensions, all in one place & only the ones we need -->
//            DIMENSIONS
            var soundAvgDim = cf.dimension(function(d) { return d.sound_avg; });
            var sensorDim = cf.dimension(function(d) { return d.sensor; });


            var loudSound = soundAvgDim.filter([2000, 3000]).top(Infinity);
            console.log("Sound 2000-3000 count: " + loudSound.length);
//            soundAvgDim.filterAll();

            var lowSound = soundAvgDim.filter([0, 1000]).bottom(Infinity);
            console.log("Sound <1000 count: " + lowSound.length);
            soundAvgDim.filterAll();

//            filtering before a group method only works when you create another variable... if I call this on sensorDim the for loop returns all sensor
//            var sensorFilterDim = cf.dimension(function(d) { return d.sensor; });
//            sensorFilterDim.filter(2);

            var countSensor = sensorDim.group().reduceCount();
            console.log("countSensor:");
            console.log(countSensor);
            console.log("countSensor size: " + countSensor.size());
            var all = countSensor.all();

            var sumSensor = sensorDim.group().reduceSum(function(d) {return d.sound_avg;});
            console.log("sumSensor:");
            console.log(sumSensor);
            console.log("sumSensor size: " + sumSensor.size());
            var allsum = sumSensor.all();

//              reduce creates nice key/value pairs:
            for(i = 0; i < sumSensor.size(); i++){
//                var sensorCount = sensorDim.filter(i).top(Infinity);
//                console.log("Sensor " + i + ": " + sensorCount.length + " measurements");
                console.log("Sensor " + all[i].key + ": " + all[i].value + " measurements");
                console.log("Sensor " + allsum[i].key + ": " + allsum[i].value + " total sound");
                console.log("Sensor " + allsum[i].key + ": " + allsum[i].value/all[i].value + " avg sound");
//                console.log("Sensor " + bottom[i].key + ": " + bottom[i].value + " measurements");
//                sensorDim.filterAll();
            }              




            var parseHour = d3.time.format("%Y-%m-%dT%H:%M:%S").parse;
            api_data.forEach(function(d) {
                d.hour = parseHour(d.hour);
                d.month= d.hour.getMonth();
                d.dow = d.hour.getDay();
            });
            var hourDim = cf.dimension(function(d) { return d.hour;});
            var monthDim  = cf.dimension(function(d) {return + d.month;});
            var dowDim  = cf.dimension(function(d) {return + d.dow;});

            var monthTotal = monthDim.group().reduceSum(function(d) {return d.sound_avg;});

            var dowTotal = dowDim.group().reduceSum(function(d) {return d.sound_avg;});
            var dowCount = dowDim.group().reduceCount(function(d) {return d.sound_avg;});
            var dowAvg = dowDim.group().reduceSum(function(d) {if (d.sound_count === 0){return 0} else{return d.sound_avg / d.sound_count;} });

            var dayOfWeekNames = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
            var monthOfYear = ["Jan", "Feb", "March", "April"];

// todo tweak reduce functions to get avg sound values
            function reduceAddAvg(attr) {
              return function(p,v) {
                ++p.count;
                p.sum += v[attr];
                p.avg = p.sum/p.count;
                return p;
              };
            }
            function reduceRemoveAvg(attr) {
              return function(p,v) {
                --p.count;
                p.sum -= v[attr];
                p.avg = p.sum/p.count;
                return p;
              };
            }
            function reduceInitAvg() {
              return {count:0, sum:0, avg:0};
            }
            var soundAvgGroup = soundAvgDim.group().reduce(reduceAddAvg('sound_avg'), reduceRemoveAvg('sound_avg'), reduceInitAvg);
            var dowAvgGroup = hourDim.group().reduce(reduceAddAvg('sound_avg'), reduceRemoveAvg('sound_avg'), reduceInitAvg);
              console.log(soundAvgGroup);
//            var statesAvgGroup = statesAvgDimension.group().reduce(reduceAddAvg('cost'), reduceRemoveAvg('cost'), reduceInitAvg);

              dowChart = dc.rowChart("#dow-chart");

            dowChart
                  .width(200)
                  .height(300)
                  .margins({top: 10, left: 20, right: 10, bottom: 20})
    //              .group(dowDim.group())
                  .group(dowTotal)
                  .dimension(dowDim)
                  .label(function (d) {
                      return dayOfWeekNames[d.key];
                  })
                  .title(function (d) {
                      return d.value;
                  })
                  .elasticX(true)
                  .xAxis().ticks(4);



//            count of this should be 969, not 12... right?
            var sound = hourDim.group().reduceSum(function(d) {return d.sound_avg;});
            var soundMax = hourDim.group().reduceSum(function(d) {return d.sound_max;});
            var soundMin = hourDim.group().reduceSum(function(d) {return d.sound_min;});
            var soundCount = hourDim.group().reduceSum(function(d) {return d.sound_count;});
            var minHour = hourDim.bottom(1)[0].hour;
            var maxHour = hourDim.top(1)[0].hour;
            var minMonth = monthDim.bottom(1)[0].month;
            var maxMonth = monthDim.top(1)[0].month;

            var sensorTotal = sensorDim.group().reduceSum(function(d) {return d.sound_avg;});

            var monthRingChart   = dc.pieChart("#chart-ring-month");
            monthRingChart
                .width(300).height(300)
                .dimension(monthDim)
                .group(monthDim.group())
                .label(function (d) {
                  return monthOfYear[d.key];
                })
                .innerRadius(30);


            var sensorRingChart   = dc.pieChart("#chart-ring-sensor");
            sensorRingChart
                .width(300).height(300)
                .dimension(sensorDim)
                .group(sensorDim.group())
                .innerRadius(30);






//            var tableGroup = monthDim.group().reduce(
//              function reduceAdd(p,v) {
//                p[v.status] = v.hits;
//                p["Year"]= v.Year;
//                return p;
//              },
//              function reduceRemove(p,v) {
//                p[v.status] = 0;
//                p["Year"]=v.Year;
//
//                return p;
//              },
//              function reduceInitial() { return {}; }
//              );

            var datatable = dc.dataTable("#dc-data-table");

            datatable
                .dimension(hourDim)
                .group(function(d) {return d.hour;})
                // dynamic columns creation using an array of closures
                .columns([
                    function(d) {return d.hour;},
                    function(d) {return d.sound_avg;},
                    function(d) {return d.sound_max;},
                    function(d) {return d.sound_min;},
                    function(d) {return d.sound_count;}
                ]);

            var hoursChart  = dc.compositeChart("#chart-line-soundperhour");


<!-- todo get brush filter working -->
            hoursChart
                .width(1000).height(500)
                .dimension(hourDim)
                .brushOn(true)
//                .group(sound)
                .x(d3.time.scale().domain([minHour,maxHour]))
                .compose([
                    dc.lineChart(hoursChart).group(sound, "Avg"),
                    dc.lineChart(hoursChart).group(soundMax, "Max"),
                    dc.lineChart(hoursChart).group(soundMin, "Min")
//                    dc.lineChart(hoursChart).group(soundCount, "Count")
                ])
                .legend(dc.legend().x(50).y(10).itemHeight(13).gap(5))
                    //                    todo elastic X doesn't work, I assume due to domain set to minHour/maxHour
                .elasticX(true)
                .elasticY(true)
                .yAxisLabel("Decibels");
//                .xAxisLabel("Date");

{#            var hoursBarChart  = dc.barChart("#chart-bar-soundperhour");#}
{##}
{#            hoursBarChart#}
{#                .width(1000).height(500)#}
{#                .dimension(monthDim)#}
{#                .brushOn(false)#}
{#                .group(monthTotal)#}
{#                .x(d3.time.scale().domain([minMonth,maxMonth]))#}
{#                .legend(dc.legend().x(50).y(10).itemHeight(13).gap(5))#}
{#                .elasticY(true)#}
{#                .yAxisLabel("Decibels");#}
//                .xAxisLabel("Date");

            dc.renderAll();

        });
    </script>
</body>
</html>