<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <title>SoundScore</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">

          <div class='row'>
            <div class='col-md-12'>
              <h1>D3 Sandbox</h1>
            </div>
          </div>

        <div class="row">
          <div class='col-md-4' id="chart-ring-month">
            <h6>Month Pie Chart
                <!-- todo reset links don't work.. removing "var" to set on global scope worked but the nashville example didn't do that... -->
             <a class="reset" href="javascript:monthRingChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
            </h6>
          </div>

          <div class='col-md-4' id="chart-ring-sensor">
            <h6>Sensor Pie Chart
             <a class="reset" href="javascript:sensorRingChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
            </h6>
          </div>

          <div class='col-md-4' id="dow-chart">
            <h6>DOW Bar Chart
             <a class="reset" href="javascript:dowChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
            </h6>
          </div>
        </div>

          <div class='row'>
            <div class='col-md-12' id="chart-line-soundperhour">
              <h6> Total Sound by Hour
                <a class="reset" href="javascript:hoursChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
              </h6>
            </div>
          </div>

          <div class='row'>
            <div class='col-md-12' id="sensor-bubble-chart">
              <h6> Total Sound by Hour
                <a class="reset" href="javascript:sensorBubbleChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
              </h6>
            </div>
          </div>

          <div class='row'>
            <div class='col-md-12' style='clear:both;'>
                <table id="dc-data-table">
                    <thead>
                    <tr class="header">
                        <th>Hour</th>
                        <th>Avg</th>
                        <th>Max</th>
                        <th>Min</th>
                        <th>Count</th>
                    </tr>
                    </thead>
                </table>
            </div>
          </div>
    <!-- container div -->
    </div>

    <script src="../static/js/crossfilter.v1.js"></script>
    <script src="../static/js/d3.v3.js"></script>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>#}
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/dc.js"></script>
    <link href="../static/css/dc.css" rel="stylesheet"/>
    <script src="../static/js/charts.js"></script>
    <script src="../static/js/colorbrewer.js"></script>
</body>
</html>