{#todo, just copied this over, need to adjust link references#}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>SoundScore | See what you hear</title>

    <!-- Mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">SoundScore</a>
            </li>
            <li>
                <a href="#map">Map</a>

            </li>
            <li>
                <a href="#charts">Charts</a>
            </li>
            <li>
                <a href="#decibels">Decibel Info</a>
            </li>
        </ul>
    </nav>

{#    <section id="top">#}
        <div class="container-fluid">
    {#    <div class="container">#}
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12" id="tint">
    {#                todo tint#}
{#                    <div id="tint">#}
                        <header id="top" class="header">
                            <div class="text-vertical-center">
                                <h1>SoundScore</h1>
                                <h3><i>See What You Hear</i></h3>
                                <br>
                                <a href="#map" class="btn btn-dark btn-lg">Explore San Francisco</a>
                        </header>
{#                    </div>#}
                    </div>
                </div>
            <!-- Row -->
            </div>
        <!-- Container -->
        </div>
{#    </section>#}


    <!-- Map -->
{#    <section id="mapper">#}
{#        <div class="container-fluid">#}
{#            <div class="row">#}
{#                <div class="col-lg-12 text-center">#}
                    <div id='map' class='map'></div><br>
{#                </div>#}
{#            </div>#}
{#            <!-- /.row -->#}
{#        </div>#}
{#        <!-- /.container -->#}
{#    </section>#}

   <!-- Charts -->
    <section id="charts" class="charts">
        <div class="container-fluid">


              <div class='row'>
                <div class='col-md-12 col-xs-12 text-center' id="bubble-chart-col">
                    <div id="sensor-bubble-chart">
                      <h4> <strong>Average Sound Level by Sensor</strong>
                        <a class="reset" href="javascript:sensorBubbleChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
                      </h4>
                    </div>
                </div>
              </div>
            <!-- /.row -->

            <div class="row">
{#                  todo center charts#}

{#                CORE CHARTS! #}

              <div class='col-md-3 col-xs-12 text-center' id="dow-chart-col">

                  <div id="dow-chart">
                     <h4> <strong>Sound by Day of Week</strong>
                     <a class="reset" href="javascript:dowChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
                    </h4>
                  </div>
              </div>

                <div class= 'col-md-6 col-xs-12 text-center' id="date-chart-col">

                    <div id="date-chart">
                      <h4> <strong>Sound by Day</strong>
                        <a class="reset" href="javascript:dateBarChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
                      </h4>
                    </div>
                    <aside id="totals"><span id="active">-</span> of <span id="total">-</span> total hours selected.</aside>
                </div>

              <div class='col-md-3 col-xs-12 text-center' id="hour-pie-col">
                  <div id="hour-pie">
                    <h4> <strong>Sound By Hour of Day</strong>
                     <a class="reset" href="javascript:hourPie.filterAll(); dc.redrawAll();" style="display: none;">reset</a>
                    </h4>
                  </div>
              </div>


{#                HACKATHON CHARTS! #}
{#              <div class='col-md-6 col-xs-12 text-center' id="dow-chart-col">#}
{##}
{#                  <div id="dow-chart">#}
{#                     <h4> <strong>Sound by Day of Week</strong>#}
{#                     <a class="reset" href="javascript:dowChart.filterAll(); dc.redrawAll();" style="display: none;">reset</a>#}
{#                    </h4>#}
{#                  </div>#}
{#              </div>#}
{##}
{##}
{#              <div class='col-md-6 col-xs-12 text-center' id="hour-pie-col">#}
{#                  <div id="hour-pie">#}
{#                    <h4> <strong>Sound By Hour of Day</strong>#}
{#                     <a class="reset" href="javascript:hourPie.filterAll(); dc.redrawAll();" style="display: none;">reset</a>#}
{#                    </h4>#}
{#                  </div>#}
{#              </div>#}


            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </section>

 <!-- Charts -->
    <section id="decibels" class="decibels">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12 text-center">
{#                    <h2>Decibels? What are we talking about here?</h2>#}
{#                    <img src="http://www.acting-man.com/blog/media/2015/02/decibel-scale.jpg" height="100%" width="100%">#}
                    <img src="../static/img/Decibel-Infographic.png">

                    <br>
                    <h4><strong>SoundScore</strong>
                    </h4>
                    <p><i>See What You Hear</i></p>
{#                    <ul class="list-unstyled">#}
{#                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>#}
{#                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">name@example.com</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                    <br>#}
{#                    <ul class="list-inline">#}
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>#}
{#                        </li>#}
{#                    </ul>#}
                    <hr class="small">
                    <p class="text-muted">Built with <i class="fa fa-heart"></i> by the SoundScore team</p>
                </div>
{#                <div class="col-lg-6 text-center">#}
{#                    <h2>Decibels? What are we talking about here?</h2>#}
{#                </div>#}
            </div>

            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });

    });
    </script>
    <script src="../static/js/map.js"></script>
    <script src="../static/js/crossfilter.v1.js"></script>
    <script src="../static/js/d3.v3.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/dc.js"></script>
    <link href="../static/css/dc.css" rel="stylesheet"/>
    <script src="../static/js/charts.js"></script>
    <script src="../static/js/colorbrewer.js"></script>
</body>

</html>
